<ion-view view-title="Listing">
  <ion-content >
    <div>
    <h1>Listing</h1>
      <!-- Table for current listings that user has include address, start date, end date, times available, and if currently occupied-->
      <!-- Need Form Field for listing details include address, start date, end date, times available and submit button-->
      <div class="list" ng-controller="ListingCtrl">
        <label class="item item-input item-floating-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Address">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Start Date</span>
          <input type="date">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">End Date</span>
          <input type="date">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Start Time</span>
          <input type="text" placeholder="Start Time">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">End Time</span>
          <input type="text" placeholder="End Time">
        </label>
      </div>
    </div>
  </ion-content>     
</ion-view>
<!-- 
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span> 
          <input type="text" placeholder="First Name">
        </label>

 -->